.master-container {
    background: rgb(175, 237, 175);
    border: 5px solid green;
    padding: 20px;
}

.master-header {
    display: flex;
    background: lightblue;
    border: 5px solid blue;
    height: 100px;
    gap: 5px;
    margin-bottom: 20px;
    padding: 20px;
}

.master-header div {
    flex: 1;
}

.master-header>div {
    background: rgb(255, 206, 184);
    border: 5px solid rgb(207, 124, 124);
}

.header-middle {
    display: flex;
    padding: 5px;
}

.header-middle>div {
    background: pink;
    border: 5px solid red;
}

.master-body {
    display: flex;
    gap: 5px;
    height: 200px;
    margin-bottom: 20px;
}

.master-body>div {
    flex: 1;
}

.body-left {
    background: rgb(249, 176, 188);
    border: 5px solid maroon;
}

.body-right {

    display: flex;
    flex-direction:column;
    gap: 5px;
}

.body-right-top,
.body-right-bottom {
    flex: 1;
    background: rgb(249, 176, 188);
    border: 5px solid maroon;
}

.master-tail {
    display: flex;
    background: lightblue;
    border: 5px solid blue;
    height: 100px;
    padding: 10px;
    /* On axis alingment of all items */
    justify-content: space-evenly;
    /* Cross axis alignment of all items */
    align-items: center;
    
}


.master-tail div {
    flex: 0 1 auto;
    width: 80px;
    height: 80px;
}

.tail-left,
.tail-right {
    background: rgb(228, 217, 255);
    border: 5px solid rgb(115, 68, 236);
}

.tail-middle-left,
.tail-middle-right {
    background: rgb(255, 206, 184);
    border: 5px solid rgb(207, 124, 124);
}

.tail-middle-left {
    /* Cross axis alignment of individual item */
    align-self: flex-end;
}

.tail-middle-right {
    align-self: flex-start;
}

p {
    text-align: center;
    font-size: 20px;
}


